#wrapper{
	width:900px;
	margin:0 auto 0 auto;
	background-color: white;
}
#numberVorlesungsstunden{
	text-align:center;
	margin-right:10px;
	coursor:pointer;
}
#ulDateList{
	overflow-y:scroll;
	border:1px solid;
	height:100px;
	width:300px;
}
#taBemerkungen{
	resize:none;
	width:500px;
}
#taKontakt{
	resize:none;
	width:500px;
}
.timeTableButtons{
	width:30px;
	height:30px;
	font-weight:bold;
	coursor:pointer;	
}
/*Stundentabelle*/
#firstCell{
	border-right:1px solid;
	border-bottom:1px solid;
	width:120px;
}
#timeTableBody {
	text-align:center;
	vertical-align:center;
}
#timeTableBody td{
	cursor:pointer;
	width:120px;
}
#timeTableBody th{
	width:120px;
}
#timeTable{
	text-align:center;
	border-collapse:collapse;		
}
#ulDateList li{
	cursor:pointer;
}
/*Klassen für Stundentabellenzellen*/
.tdNeutral{
	background-color:white;
	border: 1px solid;
	border-color:black;
	
}
.tdSelect{
	background-color:gray;
	border:1px solid;
	border-color:gray;
	opacity:0.2;
}
.tdPlus{
	background-color:#00aa00;
	border:1px solid;
}
.tdMinus{
	background-color:red;
	border:1px solid;
}
#tableForm1 th{
	text-align:left;
}
/***************************************/


	

